[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "===1.6.0"
pydub = "*"
scipy = "*"
matplotlib = "*"
ffmpeg = "*"
torchsummary = "*"
flake8 = "*"
ffprobe = "*"
scikit-learn = "*"
librosa = "*"
torchvision = "*"
ipykernel = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
